html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.overlay {
  background: #333;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.info {
  z-index: 1;
  position: absolute;
  color: white;
}

.info #time {
  font-size: 144px;
}
